.editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.editor_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  border-bottom: 3px solid #76777a;
  user-select: none;
}

.editor_header_left {
  display: flex;
  align-items: center;
  color: gray;
  padding: 10px;
}

.header_left_text {
  padding-left: 5px;
}

.editor_header_right {
  display: flex;
  align-items: center;
  flex: 0;
  justify-content: space-between;
  padding: 10px;
}

.editor_header_right > svg:hover {
  cursor: pointer;
  color: black;
}

.editor_textareas {
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.editor_textarea {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.justify {
  text-align: justify;
}

.editor_search {
  display: flex;
  align-items: center;
  margin: 15px;
  margin-top: 20px;
}

.container {
  flex-grow: 1;
}

.text_header {
  user-select: none;
}

.section_header {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  user-select: none;
}

.special_note {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  user-select: none;
}

.span {
  line-height: 2.2em;
}

.with_leading_whitespace {
  white-space: pre-wrap;
}

.without_leading_whitespace {
  white-space: normal;
}

.superscript {
  vertical-align: super;
  font-size: 75%;
}

.footnote_text {
  padding-left: 2em;
  text-indent: -2em;
  margin-bottom: 0.5em;
}

.verse_number {
  user-select: none;
}

.inline_footnote {
  user-select: none;
}

.span::selection {
  background-color: rgba(143, 143, 143, 0.7);
}
