[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
uvicorn = "*"
python-dotenv = "*"
aiosqlite = "*"
pydantic = "*"
websockets = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "<1.0"

[requires]
python_version = "3.14"

[pipenv]
allow_prereleases = true
