[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
uvicorn = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
ipykernel = "*"
nb-black = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
