.circle {
  background: transparent;
  height: 28px;
  width: 28px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 100ms;
  margin: 0px 7px 7px 0px;
}

.selected {
  transform: scale(0.9);
}

.selectedLight {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 0 0 0 3px rgba(0, 0, 0, 1);
}

.selectedDark {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1), 0 0 0 3px rgba(255, 255, 255, 1);
}

.circle:hover {
  transform: scale(1.2);
}

.selected:hover {
  transform: scale(1.05);
}

.swatch {
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  filter: saturate(50%);
}

.swatch:hover {
  filter: saturate(100%);
}
