name = "referencer-api"
main = "src/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[triggers]
crons = ["0 * * * *"]

[[kv_namespaces]]
binding = "RATE_LIMIT_KV"
id = "8c948d37b14d4f0199076fc63d3de491"

[vars]
FRONTEND_URL = "https://referencer.pages.dev"
