@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);

  .dark & {
    --tt-theme-text: var(--tt-gray-dark-900);
  }
}

body {
  font-family: "Inter", sans-serif;
  color: var(--tt-theme-text);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
}

html:not(.overscroll-enabled) body {
  overscroll-behavior-y: none;
}

html:not(.overscroll-enabled),
html:not(.overscroll-enabled) body {
  overscroll-behavior-x: none;
}

html,
body,
#root,
#app {
  height: 100%;
  background-color: var(--tt-bg-color);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--tt-scrollbar-color) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tt-scrollbar-color);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;
}

.simple-editor-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.simple-editor-wrapper.editor-locked {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;

  &.arrow-mode {
    cursor: crosshair;
  }

  &.eraser-mode {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7 21h10' stroke='white' stroke-width='2.5' stroke-linecap='round'/%3E%3Cpath d='m16.24 3.56 4.95 4.94c.78.78.78 2.05 0 2.83L12 20.53a4 4 0 0 1-2.83 1.17H4.59a2 2 0 0 1-1.41-.59l-.71-.7a2 2 0 0 1 0-2.83L14.24 5.8' stroke='white' stroke-width='2.5' stroke-linecap='round' fill='none'/%3E%3Cpath d='m16.24 3.56 4.95 4.94c.78.78.78 2.05 0 2.83L12 20.53a4 4 0 0 1-2.83 1.17H4.59a2 2 0 0 1-1.41-.59l-.71-.7a2 2 0 0 1 0-2.83L14.24 5.8' stroke='%23334155' stroke-width='1.5' stroke-linecap='round' fill='%23f9a8d4'/%3E%3Cpath d='M7 21h10' stroke='%23334155' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E") 2 20, cell;
  }
}

.eraser-mode-container {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7 21h10' stroke='white' stroke-width='2.5' stroke-linecap='round'/%3E%3Cpath d='m16.24 3.56 4.95 4.94c.78.78.78 2.05 0 2.83L12 20.53a4 4 0 0 1-2.83 1.17H4.59a2 2 0 0 1-1.41-.59l-.71-.7a2 2 0 0 1 0-2.83L14.24 5.8' stroke='white' stroke-width='2.5' stroke-linecap='round' fill='none'/%3E%3Cpath d='m16.24 3.56 4.95 4.94c.78.78.78 2.05 0 2.83L12 20.53a4 4 0 0 1-2.83 1.17H4.59a2 2 0 0 1-1.41-.59l-.71-.7a2 2 0 0 1 0-2.83L14.24 5.8' stroke='%23334155' stroke-width='1.5' stroke-linecap='round' fill='%23f9a8d4'/%3E%3Cpath d='M7 21h10' stroke='%23334155' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E") 2 20, cell;
}

.simple-editor-content {
  max-width: 648px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 1.5rem 1.5rem 3rem;
}

@media screen and (max-width: 480px) {
  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem 1.5rem 30vh;
  }
}
