.prose-xs {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.prose-xs p {
  margin: 0.125rem 0;
}
.prose-xs ul,
.prose-xs ol {
  padding-left: 1rem;
  margin: 0.25rem 0;
}
.prose-xs li {
  margin: 0;
}
.prose-xs a {
  color: var(--color-blue-500);
  text-decoration: underline;
}
.prose-xs img {
  max-width: 100%;
  border-radius: 0.25rem;
  margin: 0.25rem 0;
}
