.editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.editor_textareas {
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.editor_textarea {
  flex: 1;
  padding: 10px;
  margin: 10px;
  line-height: 2em;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.justify {
  text-align: justify;
}

.text_header {
  user-select: none;
}

.section_header {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  user-select: none;
}

.special_note {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  user-select: none;
}

.with_leading_whitespace {
  white-space: pre-wrap;
}

.without_leading_whitespace {
  white-space: normal;
}

.superscript {
  vertical-align: super;
  font-size: 75%;
}

.footnote_text {
  padding-left: 2em;
  text-indent: -2em;
  margin-bottom: 0.5em;
}

.verse_number {
  user-select: none;
}

.inline_footnote {
  user-select: none;
}

.span::selection {
  background-color: rgba(143, 143, 143, 0.7);
}

.canvas {
  position: absolute;
  z-index: 3;
}
