.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  border-bottom: 3px solid #76777a;
  user-select: none;
}

.headerLeft {
  display: flex;
  align-items: center;
  color: gray;
  padding: 10px;
  padding-left: 15px;
}

.headerRight {
  display: flex;
  align-items: center;
  flex: 0;
  justify-content: space-between;
  padding: 10px;
}

.headerRight > svg:hover {
  cursor: pointer;
  color: black;
}
