.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  background-color: #2f3135;
  color: gray;
}

.sidebar_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 3px solid #26282c;
}

.sidebar_top > span {
  color: white;
}

.sidebar_top > svg {
  color: gray;
}

.sidebar_top > svg:hover {
  color: white;
}

.sidebar_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.sidebar_main_header {
  display: flex;
  align-items: center;
}

.texts_items {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 20px;
  color: gray;
}

.texts_item {
  display: flex;
  align-items: center;
}

.texts_text {
  flex: 1;
}

.texts_icon > svg:hover {
  color: white;
}
