.sidebar {
  display: flex;
  transition: width 0.3s, opacity 0.1s;
  user-select: none;
}

.open {
  width: 300px;
  opacity: 1;
}

.closed {
  width: 0;
  opacity: 0;
}

.paper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
}

.top_spaceName {
  padding-left: 5px;
}

.top_icon {
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  color: gray;
}

.mainRegion {
  flex: 1;
}

.sectionHeader {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.sectionHeader > svg {
  margin-bottom: 2px;
}

.texts_items {
  margin-left: 30px;
  margin-right: 20px;
  color: gray;
}

.texts_item {
  display: flex;
  align-items: center;
}

.texts_text {
  flex: 1;
}

.layer_items {
  margin-left: 30px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: greenyellow;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.profile {
  display: flex;
  align-items: center;
  border-top: 2px solid #76777a;
  padding: 15px;
}

.name {
  padding-left: 10px;
  flex: 1;
}
