.textFieldContainer {
  --offset: 10px;
  position: absolute;
  margin-left: var(--offset);
  width: calc(100% - 3 * var(--offset));
}

.rightMargin {
  flex: 0.3;
  position: relative;
}

.light {
  background-color: rgba(245, 245, 245);
}

.dark {
  background-color: rgb(35, 35, 35);
}
